<form class="form-upload-image" {{action "uploadImage" on="submit"}}>
  {{ view 'field-view' type="url" placeholder="Paste a link to an image" name="url" errors=requestMessages.url value=url doFocus=doFocus}}
  {{view 'field-view' type="text" placeholder="Image caption" name="image-caption" value=caption}}
  {{input type="submit" class="button-submit-url" value="Upload"}}
</form>

{{#each error in errors}}
  <span class="error message">{{error}}</span>
{{/each}}
