<form class="form-upload-video" {{action "uploadVideo" on="submit"}}>
  {{view 'field-view' type="text" placeholder="Paste a link to a Youtube video" name="video-url" value=url}}
  {{view 'field-view' type="text" placeholder="Image caption" name="image-caption" value=caption}}
  {{input type="submit" class="button-submit-url" value="Upload"}}
</form>

{{#each error in errors}}
  <span class="error message">{{error}}</span>
{{/each}}
