{{render "applicationHeader"}}

{{! Modals }}
{{! outlet "modal"}}

{{! Popup notification}}
{{! render "notification"}}

<div {{bind-attr class=":header-overlay showHeader:show"}} {{action "toggleHeader"}}></div>

<section {{bind-attr class=":main-container isFull:full session.isAuthenticated"}}>
  {{#if isLoadingPage}}
  {{! Loading animation}}
  <div class="loader-overlay">
    <div class="loader">

    </div>
  </div>
  {{/if}}
  {{liquid-outlet}}
</section>
