{{#link-to "index"}}Test{{/link-to}}
{{session.currentUser.name}}

<h1>{{model.title}}</h1>

<h3>Date</h3>
<p>{{model.date}}</p>
<h3>Place</h3>
<p>{{model.place}}</p>

<ul>
{{#each creator in model.creators}}
	<li>{{creator.name}}</li>
{{/each}}
</ul>